@import "./normalize";
@import "./base";
@import "./variables";

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  height: 80vh;
}

header,
main,
footer {
  width: 100%;
}

header,
footer {
  height: 10vh;
  background-color: $color-light-blue;
  @include flex;
}
